body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d6a357;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffa215;
}
