#background {
    width: 100vw;
    height: 140vh;
    background-image: url(../images/haeun/bg.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glitter {
    position: absolute;
    background-image: url(../images/haeun/glittertop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    top: 0;
    left: 0;
}

.glitterbottom {
    position: absolute;
    background-image: url(../images/haeun/glitterbottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vh;
    right: 0;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.groom, .bride {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90%;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.circlePhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    max-width: 300px;
    max-height: 300px;
}

.photo {
    height: 100%;
    width: 100% ;
}

.frame {
    position: absolute;
    width: 150%;
    height: 200%;
    max-width: 400px;
    max-height: 580px;
}

.frame img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.details {
    text-align: center;
}

.details .pengantinName {
    font-family: 'Ephesis', cursive;
    font-size:72px; 
    margin-block-end: 0; 
    margin-block-start: 0.5em;
}

.details .parentsName {
    font-family: 'Enriqueta', serif;
    font-size:18px; 
    margin-block-end: 0; 
    margin-block-start: 0;
}




