.container-inv {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/ziven/background.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.golden-blur {
  position: absolute;
  background-image: url(../images/ziven/golden-blur.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: golden-blur 3s linear infinite alternate;
}

.golden-blur-1 {
  top: 0;
  left: 0;
  transform: scaleX(-1) scaleY(-1);
}

.golden-blur-2 {
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

.golden-blur-3 {
  top: 0;
  right: 0;
  transform: scaleY(-1);
}

.golden-blur-4 {
  bottom: 0;
  right: 0;
}

@keyframes golden-blur {
  from {
    width: 40vw;
    height: 40vh;
  }
  to {
    width: 60vw;
    height: 60vh;
  }
}

.leave-a {
  position: absolute;
  top: 0;
  background-image: url(../images/ziven/leave-1.png);
  background-size: contain;
  background-repeat: no-repeat;

  /* animation: golden-blur 3s linear infinite alternate; */
}

@keyframes initial-leave-1 {
  from {
    left: -30vw;
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
    left: 0;
  }
}

@keyframes initial-leave-2 {
  from {
    /* right: -30vw;
    transform: rotate(-180deg); */
    width: 1vw;
    height: 1vh;
  }
  to {
    /* transform: rotate(0) scaleX(-1);
    right: 0; */
    width: 25vw;
    height: 25vh;
  }
}

@keyframes leave-a {
  from {
    width: 25vw;
    height: 25vh;
  }
  to {
    width: 30vw;
    height: 30vh;
  }
}

.leave-b {
  position: absolute;
  background-image: url(../images/ziven/leave-2.png);
  width: 50vw;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: golden-blur 3s linear infinite alternate; */
}

.leave-1 {
  left: 0;
  animation: initial-leave-1 0.3s linear 1 forwards,
    leave-a 10s linear infinite alternate;
}

.leave-2 {
  width: 20vw;
  height: 20vh;
  right: 0;
  transform: scaleX(-1);
  animation: initial-leave-2 0.3s linear 1 forwards,
    leave-a 10s linear infinite alternate;
}
